In [93]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [94]:

# CSV file path
csv_file = 'selected_features_with_target.csv'

# MySQL database connection details
config = {
    'user': 'root',
    'password': 'K@minu12',
    'host': 'localhost',
    'database': 'student_performance',
    'raise_on_warnings': True
}

In [95]:

try:
    # Read CSV file into pandas DataFrame
    df = pd.read_csv(csv_file)
    
    # Establish MySQL connection
    connection = mysql.connector.connect(**config)
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        # Create table (if not exists) - CORRECTED
        create_table_query = """
        CREATE TABLE IF NOT EXISTS student_records (
            attendance DECIMAL(5,2),
            assignment_score DECIMAL(5,2),
            midterm_score DECIMAL(5,2),
            final_score DECIMAL(5,2),
            outstanding_balance INT,
            performance VARCHAR(10)
        )
        """  # Removed semicolon and fixed parentheses
        
        cursor.execute(create_table_query)
        print("Table created successfully")
        
        # Insert data row by row - CORRECTED table name
        insert_query = """
        INSERT INTO student_records
        (attendance, assignment_score, midterm_score, final_score, outstanding_balance, performance)
        VALUES (%s, %s, %s, %s, %s, %s)
        """
        
        # Convert DataFrame to list of tuples
        records = [tuple(x) for x in df.to_numpy()]
        
        # Execute batch insert
        cursor.executemany(insert_query, records)
        connection.commit()
        print(f"Inserted {len(records)} rows successfully")
        
except Error as e:
    print(f"Error while connecting to MySQL: {e}")
    
finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Table created successfully
Inserted 10 rows successfully
MySQL connection is closed